<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahv.allakumarreddy.handlerthreadlooperhandlermessagequeue">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.boundServiceUsingMessenger.BoundService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="true" />

        <activity android:name=".services.boundServiceUsingMessenger.BoundServiceActivity"></activity>

        <service
            android:name=".services.boundServiceUsingBinder.BoundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".services.boundServiceUsingBinder.BoundServiceActivity" />

        <service
            android:name=".services.intentService.BackgroundIntentService"
            android:exported="false" />

        <activity android:name=".services.intentService.IntentServiceActivity" />

        <service
            android:name=".services.normalBackgroundService.NormalBackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".services.normalBackgroundService.NormalBackgroundServiceActivity" />

        <service
            android:name=".services.foregroundService.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".services.foregroundService.ForegroundServiceActivity" />

        <service
            android:name=".services.aidl.SumOfTwoService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".services.aidl.AIDLActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>